//- div#signup_account
//-     div.form_user
//-         input#signup_username(type='text' , name='username' , placeholder='用户名' , ng-model='form.username')
//-         span
//-             span(ng-show='validate.user') 用户名格式正确
//-             span(ng-hide='validate.user') {{userCheck()}}
//-     div.form_password
//-         input#signup_password(type='password' , name='password' , placeholder='密码' , ng-model='form.passwd')
//-         span
//-             span(ng-show='validate.passwd') 密码格式正确
//-             span(ng-hide='validate.passwd') {{passCheck()}}
//-         //- </input>
//- div
//-     button#signup_forms_submit(type='button' , ng-click='getLogin()' , ng-show='canClick()')
//-         span
//-             strong Login
//-     div(ng-hide='canClick()') 请检查用户名和密码

div.container
  form.form-signin(align='center')
    h2.form-signin-heading(align='left') 欢迎回来
    label.sr-only(for="user") Username
    input(type="text" , placeholder="输入用户名(6-8位)" , required="" ,  autofocus="" , ng-model='form.username')#user.form-control
    label.sr-only(for="pass") Password
    input(type="password" , placeholder="输入密码(6-12位)"　, required="" , ng-model='form.passwd')#pass.form-control
    div.checkbox
      label
        input(type="checkbox" , value="记住我")
        记住我
    button.btn.btn-lg.btn-primary.btn-block(type="button" , ng-click='getSubmit()' , ng-show='false') margins
    button.btn.btn-lg.btn-primary.btn-block(type="button" , ng-click='getLogin()' , ng-show='canClick()') 马上登陆
    button.btn.btn-lg.btn-danger.btn-block(type="button" , ng-hide='canClick()') 请检查用户名和密码

  div.myLogin
    span
      span.lead.okay(ng-show='validate.user') 用户名格式正确
      span.lead.nopass(ng-hide='validate.user') {{userCheck()}}
      br
      br
    span
      span.lead.okay(ng-show='validate.passwd') 密码格式正确
      span.lead.nopass(ng-hide='validate.passwd') {{passCheck()}}



//- div#warn_container.warn_lines(ng-model='warning.main')
//- div#warn_user.warn_line_noany(ng-model='warning.user')
//- div#warn_pass.warn_line_noany(ng-model='warning.pass')
