h1 You're Rejudging Student {{name}} of Assignment {{number}}
s
p title:
input(ng-model='form.title', name='title')
p body:
textarea(ng-model='form.body', cols='50', rows='15')
p Score:
input(ng-model='form.score' , name='score')
p
  p(ng-hide='canClick()') {{getMsg()}}
  button(ng-click='reJudge()' , ng-show='canClick()') Rejudge Him!