h2 欢迎回来，亲爱的老师
p 您总共布置了 {{ass.length}} 个作业.

div
  p 您可以 &nbsp;&nbsp;&nbsp;
    a(ng-href='/newAss' , role='button').btn.btn-lg.btn-success 发布新作业

h1 搜索作业题目 : 
  input(ng-model='keyWord' , type='text' , autofocus='')
br
div.container-fluid
  div.row
    div.col-md-4(ng-repeat='assignment in ass  | filter : searchFilter')
      div.jumbotron
        h3(align='left') 作业{{assignment.job.index + 1}} : {{assignment.job.title}}.
        p.lead(align='left') [状态: {{getStatus(assignment.index)}}].

        p {{getTimeMessage(assignment.index)}}
        a(ng-href='/teacherComment/{{assignment.index}}' , role='button').btn.btn-lg.btn-primary.btn-block 检查情况与重新评审
        br

        a(href='{{assignment.job.refer}}' , role='button').btn.btn-small.btn-success 题目详情页
        |  -