h2 You have ReJudged {{count}} Students!
p You can choose to 
	button(ng-click='sortStudents()') Sort Students By their Scores

br
br
div(ng-repeat = 'student in data')
	p Student ID: {{student.id}}
	div(ng-show='taJudged(student.index)')
		p TA-Judge Score: {{getScore(student.index)}}
		//- p TA-Judge Rank: {{getRank(student.index)}}
		a(ng-href='{{getSource(student.index)}}') His Source
		|  - 
		a(ng-show='haveGithub(student.index)' , ng-href='{{getGithub(student.index)}}') Github Address
		|  - 
		a(ng-href='/rejudge/{{student.index}}') ReJudge Him!
	div(ng-hide='taJudged(student.index)')
		p Please Wait Because TA haven't Judge On this Student Yet!
	br